*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma, Arial;
}

.slider-container {
    margin: 10px auto;
    width: 800px;
    height: 250px;
    position: relative;
}

.slider-container img {
    position: relative;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
}

.slider-container img.active {
    opacity: 1;
}

.slider-container .slide-number {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFF;
    padding:5px 10px;
    font-size: 20px;
    z-index: 2;
    border-radius: 6px;
}